{% extends "_base.html.j2" %}
{% block content %}
<p>
    Results: {{ paged.info.count }} / {{ paged.info.total }}
</p>
<p>
    Page: {{ paged.info.page }} / {{ paged.info.pages }}
</p>
<form action="." method="get">
    {% for field_name, field_data in filters.items() %}
    <div class="input-field">
        <!-- TODO: change based on field type -->
        <input type="text" name="{{ field_name }}" id="{{ field_name }}" {% if field_data.value is not none %}
            value="{{ field_data.value }}" {% endif %}>
        <label for="{{ field_name }}">{{ field_name }}</label>
    </div>
    {% endfor %}
    <button class="btn waves-effect waves-light" type="submit">Search
        <i class="material-icons right">search</i>
    </button>
</form>
<div class="row">
    {% set column_cls = {
    gacha.Size.LARGE: "m12 l6 xl4",
    gacha.Size.MEDIUM: "m6 l4 xl3",
    gacha.Size.SMALL: "m4 l3 xl2",
    }.get(gacha.GRID_SIZE)
    %}
    {% set card_height = {
    gacha.Size.LARGE: "400px",
    gacha.Size.MEDIUM: "300px",
    gacha.Size.SMALL: "200px",
    }.get(gacha.THUMB_HEIGHT)
    %}
    {% for item in paged.results %}
    <a class="col {{ column_cls }}" href="{{ url_for('detail', gacha=gacha.SLUG, id=item.id) }}">
        <div class="card">
            <div class="card-image" style="height: {{ card_height }}">
                <img src="{{ item.thumb_url }}">
            </div>
            <div class="card-content">
                <span class="card-title">{{ item.name }}</span>
                {% if item.rarity %}
                <p>{{ item.rarity.name }}</p>
                {% endif %}
                <p>
                    {% for key, value in item.extra.items() %}
                    {{ key }}: {{ value }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
