{% extends "_base.html.j2" %}
{% block content %}
<p>
    Results: {{ paged.info.count }} / {{ paged.info.total }}
</p>
<p>
    Page: {{ paged.info.page }} / {{ paged.info.pages }}
</p>
<form action="." method="get">
    {% for field_name, field_data in filters.items() %}
    <div class="input-field">
        <!-- TODO: change based on field type -->
        <input type="text" name="{{ field_name }}" id="{{ field_name }}" {% if field_data.value is not none %}
            value="{{ field_data.value }}" {% endif %}>
        <label for="{{ field_name }}">{{ field_name }}</label>
    </div>
    {% endfor %}
    <button class="btn waves-effect waves-light" type="submit">Search
        <i class="material-icons right">search</i>
    </button>
</form>
<div class="row">
    {% for item in paged.results %}
    <a class="col m12 l6 xl4" href="{{ url_for('detail', id=item.id) }}">
        <div class="card">
            <div class="card-image">
                <img src="{{ item.thumb_url }}">
            </div>
            <div class="card-content">
                <span class="card-title">{{ item.name }}</span>
                <p>{{ item.rarity.name }}</p>
                <p>
                    {% for key, value in item.extra.items() %}
                    {{ key }}: {{ value }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
